body{
    width:99vw;
    height:100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font family: */


}
section {
    position: relative;
    padding: 100px 0 100px 0;
}

header {
display: flex;
    background-color: #fff;
    width: 100%;
    /* height: 70px; */
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}
.logo{
    margin-top: -19px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap
}
.logo img {
    
    max-height: 100%;
    margin-left:16px;
} 
header nav {
    height: 100%;
    margin-right: 8%;
    transition: all 0.2s ease-in-out;
}
header nav ul li:not(:last-child) {
    margin-right: 30px;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
    font-family: arial,Helvetica, sans-serif;
    font-size: 17px;
}
h1{
    font: 84px "volkhov-bold";
    color:white;

}
.titre_japonnais{
    font: 84px "volkhov-bold";
    color:white;
    padding-top: -8%;
    padding-left: 10%;
    
}
.paragraphe_sous_titre{
    font-family: "poppins-regular";
    font-size: 20px;
    color: white;
    line-height: 2em;;
    padding-left: 10%;
   

    
}
.rapide{
    position: relative ;
    padding-left: 10%;
}
.commande{
    margin-top:15%;
display: block;
   
}
.bloc_image{
    position: absolute;
    height: 652px;
    width: 100%;
    z-index: 1;
    left: 0;
    margin-top: -13%;
   
    white-space: nowrap;
    overflow: hidden;
}
h4{
    font-family: 20px "poppins-bold";
    color: #df6951;
}
    .carte{
display: flex;
    }
.new_carte{
    display:inline-block;
color: #df6951;
}
.menu{
    border: 5px solid;
    
  
    border-radius: 10px;
    box-shadow: 5% ;
}
.fig_menu{
    
    margin-top: 19%;
    border-radius: 18px;
    box-shadow: 0px 4px 47px 24px rgb(0 0 0 / 7%);
}
figure {
    display: flex;
}
    
.conteneur_fig_commande {
    width: 60px;
    height: 60px;
}    
   
figcaption{

    font-size:16px
}
.transport{
    display:flex;
}
h5{

    font-family: "poppins-regular";
    font-size: 30px;
    color: #bfc0cd;
} .boutton{
    width: 16%;
height: 58%;
} 
button{
    background: yellow;
   
}
.bouton_découvrir{
    font: 18px Arial, Helvetica, sans-serif;
    border-radius: 7px;
    padding: 18px 32px;
    border: none;

}
.section1{

    background: url("../images/illustration_principale.jpg") no-repeat;
    background-size: cover;
    
}
.section2{
    background: url("../images/illustration_chef.jpg") no-repeat;
    background-size:cover;
  
 
}
.section3{
    background: url("../images/illustration_commander.jpg") no-repeat;
    background-size:cover;
}


li{
   align-content: space-between;
}